{% load i18n %}

<footer class="container mx-auto w-max-full text-center py-5 border-t text-md text-gray-500 flex justify-start items-center">
        <div class="w-1/3">
            {% get_current_language as LANGUAGE_CODE %}
            <select id="js-lang" class="w-1/3 h-8 p-0">
                <option value="en"
                {% if LANGUAGE_CODE == 'en' %}
                selected
                {% endif %}
            >English</option>
            <option value="ko"
                {% if LANGUAGE_CODE == 'ko' %}
                    selected
                {% endif %}
            >Korean</option>
        </div>
        <div class="w-1/3">
            <span>&copy;  2020 Airbnb, Inc. {% trans 'All rights reserved' %}.</span>
        </div>
</footer>