<div class="flex flex-col w-full text-center">
    <a class="btn bg-gray-800 text-white" href="{% url 'users:github-login' %}">
        <i class="fab fa-github-alt mr-2 fa-lg"></i>Continue with GitHub
    </a>
    <a class="btn bg-yellow-400 text-yellow-800 " href="{% url 'users:kakao-login' %}">
        <i class="fas fa-comment mr-2 fa-lg"></i>Continue with Kakao
    </a>
    
</div>
<div class="flex items-center w-full my-5 text-center">
    <div class="h-px w-full bg-gray-400"></div>
    <span class="text-gray-600 font-medium mx-2 text-sm">or</span>
    <div class="h-px w-full bg-gray-400"></div>
</div>