{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
    Home
{% endblock page_title %}
{%block content %}
    <div class="container mx-auto pb-10">
        <div class="-mx-20 bg-gray-800 h-50vh mt-32 mb-24 rounded-2xl bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1534274867514-d5b47ef89ed7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1870&q=80);"></div>
        <div class="flex flex-wrap -mx-20 mb-10">
            {% for room in rooms %}
                {% include "mixins/room_card.html" with room=room  %}
            {% endfor %}
        </div>
        <div class="flex justify-center items-center">
            {% if page_obj.has_previous %}
                <a href="/?page={{page_obj.previous_page_number}}"><i class="fas fa-caret-left fa-lg text-teal-500"></i></a>
            {% endif %}
            <span class="mx-3 text-lg">
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages%}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
            </span>
            {% if  page_obj.has_next%}
                <a href="/?page={{page_obj.next_page_number}}"><i class="fas fa-caret-right fa-lg text-teal-500"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
