
{% extends "base.html" %}


{% block page_title %}
    {{room.name}}'s Photos'
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}
    
{% block content %}
    <div class="container mx-auto my-10 flex flex-col   ">
        
        <div class="w-full my-10 flex justify-center"><a href="{% url 'rooms:add-photos' room.pk %}" class="btn-link w-1/4 block">Upload Photo</a></div>

        {% for photo in room.photos.all %}
            <div class="mb-5 border border-gray-500 p-6 flex justify-between">
                <div class="flex items-start">
                    <div class="bg-cover h-32    w-32" style="background-image: url({{photo.file.url}});"></div>
                    <span class="ml-5 text-xl">{{photo.caption}}</span>
                </div>
                <div class="flex flex-col w-1/5">
                    <a  class="btn-link mb-5 bg-teal-500" href="{% url 'rooms:edit-photo' room.pk photo.pk %}">Edit</a>
                    <a  class="btn-link bg-red-600" href="{% url 'rooms:delete-photo' room.pk photo.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}
        <div class="mt-3 flex justify-center"><a  class="btn-link bg-teal-500 w-1/4 block " href="{{room.get_absolute_url}}edit">Back to edit room</a></div>
    </div>
{% endblock content %}