{% extends 'base.html' %}
{% block page_title %}
    Home
{% endblock page_title %}

{%block content %}

    <div class="container mx-auto bg-gray-800 h-50vh mt-32 mb-24 rounded-2xl bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1534274867514-d5b47ef89ed7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1870&q=80);">
    
    </div>

    {% for room in rooms %}
        <h4>
            <a href = "{% url "rooms:detail" room.pk %}">
                {{room.name}}
            </a>
        </h4>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="/?page={{page_obj.previous_page_number}}">prev</a>
    {% endif %}

    <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
    {% if  page_obj.has_next%}
        <a href="/?page={{page_obj.next_page_number}}">next</a>
    {% endif %}
{% endblock content %}
