{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container mx-auto min-h-75vh">
        <div>
            <form id="search-form" method="get" action=" {% url 'rooms:search' %}">
                {{form.as_p}}
                <button class="btn-link bg-teal-500">Search</button>
            </form>
        </div>
        <div>
            <h3 class="text-3xl font-semibold text-teal-500">Results</h3>
            {% for room in rooms %}
                {% include "mixins/room_card.html" with room=room  %}
            {% endfor %}
        </div>
        
        {% if page_obj %}
            <div class="flex justify-center items-center">
                {% if page_obj.has_previous %}
                    <a href="/?page={{page_obj.previous_page_number}}">prev</a>
                {% endif %}
                <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
                {% if  page_obj.has_next%}
                    <a href="/?page={{page_obj.next_page_number}}">next</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}