{% extends "base.html" %}


{% block page_title %}
    Log In
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}
    
{% block content %}
    <div class="login_box container xl:w-1/4 lg:w-5/12 md:w-1/2">
        {% include "partials/social_login.html" %}    
        {% include "mixins/auth/auth_form.html" with form=form cta="Login"%}
        <div class="flex items-center mt-5">
            <div class="mr-10">Don't have an account?</div><a class="border rounded-md border-red-500 text-red-500 py-1 px-2 text-sm" href="{% url 'users:signup' %}">Sign Up</a>
        </div>
    </div>
{% endblock content %}