{% extends "base.html" %}


{% block page_title %}
    Sign Up
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}
    
{% block content %}
<div class="login_box container xl:w-1/4 lg:w-5/12 md:w-1/2" >
    {% include "partials/social_login.html" %}
    <form class="w-full" method="post" action="{% url "users:signup" %} ">
        {% csrf_token %}
        {{form.first_name}}
        {{form.last_name}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}
        <button class="btn bg-red-500 text-white">Sign Up</button>
    </form>
    <div class="flex items-center mt-5">
        <div class="mr-10">Have an account?</div><a class="border rounded-md border-red-500 text-red-500 py-1 px-2 text-sm" href="{% url 'users:login' %}">Log in</a>
    </div>
</div>
{% endblock content %}