
{% extends "base.html" %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}
    
{% block content %}
    <div class="login_box container xl:w-1/4 lg:w-5/12 md:w-1/2">
        {% include "mixins/auth/auth_form.html" with form=form cta="Update Profile"%}

        {% if user.login_method == "email" %}
            <div class="flex items-center mt-5">
                <a class="border rounded-md border-red-500 text-red-500 py-1 px-2 text-sm" href="{% url 'users:password' %}">Change Password</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}