{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
            <p class="text-red-700 font-medium text-sm text">{{error}}</p>
        {% endfor %}            
    {% endif %}

    {% for field in form %}
    <div class="{% if field.errors %}has_error{% endif %}">
        {{field}}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-red-700 font-medium text-sm text">{{error}}</p>
            {% endfor %}            
        {% endif %}
    </div>
{% endfor %}